## IGNORE EVERYTHING -- MANUALLY INCLUDE INSTEAD
*

## EXCEPTIONS
# basic files
!.gitignore
!README.md
!LICENSE
!makefile

# sample input files
!sampleinput*.txt
!mesa_*.dat

# the source code itself
!src/
!src/*/
!src/*.h
!src/*.hxx
!src/*.cpp
!src/*/*.h
!src/*/*.cpp

# the library
!lib/
!lib/makelib
!lib/*.h
!lib/*.hxx
!lib/*.cpp

# the test suite
!tests/
!tests/*.h

## DOCUMENTATION
# include the documentation
!documentation/
!documentation/*.pdf
!documentation/*.png
!documentation/mathematica/
!documentation/mathematica/*.nb
# but not the text source files or aux files
documentation/*.tex
documentation/*.aux
documentation/*.toc
documentation/*.log
documentation/*.out
documentation/*.gz

