## IGNORE EVERYTHING -- MANUALLY INCLUDE INSTEAD
*

## EXCEPTIONS
# basic files
!.gitignore
!README.md
!LICENSE
!makefile


# sample input files
!sampleinput*.txt
!mesa_*.dat


# the source code itself
!lib/
!src/
!src/MODES/
!src/STARS/
!lib/*
!src/*
!src/*/*

## DOCUMENTATION
# include the documentation
!documentation/
!documentation/*
!documentation/mathematica/
!documentation/mathematica/*
# but not the text source files or aux files
documentation/*.tex
documentation/*.aux
documentation/*.toc
documentation/*.log
documentation/*.gz

