## IGNORE EVERYTHING -- MANUALLY INCLUDE INSTEAD
*

## EXCEPTIONS
# basic files
!.gitignore
!README.md
!LICENSE
!makefile


# sample input files
!sampleinput4.txt
!sampleinput7.txt


# the source code itself
!lib/*
!src/*

## DOCUMENTATION
# include the documentation
!documentation/*
# but not the text source files or aux files
documentation/*.tex
documentation/*.aux
documentation/*.toc
documentation/*.log
documentation/*.synctex.gz